<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>DataLoading</display-name>
    <servlet-name>DataLoading</servlet-name>
    <servlet-class>com.highradius.DataLoading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataLoading</servlet-name>
    <url-pattern>/DataLoading</url-pattern>
  </servlet-mapping>
  <display-name>backend</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addActor</display-name>
    <servlet-name>addActor</servlet-name>
    <servlet-class>com.highradius.addActor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addActor</servlet-name>
    <url-pattern>/addActor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddActor</display-name>
    <servlet-name>AddActor</servlet-name>
    <servlet-class>com.highradius.AddActor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddActor</servlet-name>
    <url-pattern>/AddActor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update</display-name>
    <servlet-name>update</servlet-name>
    <servlet-class>com.highradius.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.highradius.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
</web-app>